@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.box {
  width: 380px;
  height: 450px;
  background-color: whitesmoke;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.fbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 750px;
}
img {
  width: 300px;
  border-radius: 15%;
  padding-bottom: 10px;
}
.Sbutton {
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 300px;
  height: 100%;
  background: linear-gradient(to right, #ffe602, #f84f4f) !important;
  border-radius: 30px;
  transition: 0.5s;
}
.slide-btn {
  cursor: pointer;
  padding: 10px 30px;
  background: transparent;
  outline: none;
}
